body {
    color: #000000;
    font-family: arial,"宋体";
    font-size: 12px;
    margin: 0;
    padding: 7px 0 0;
    position: relative;
}
img {
    border: 0 none;
}
a {
    color: #0000CC;
}
a em, em {
    color: #CC0000;
    font-style: normal;
}
a em {
    text-decoration: underline;
}
i {
    color: #888888;
    font-style: normal;
    margin: 0 6px;
}
ul, dl, ol, ul li, dl dd, dl dt, ol li {
    margin: 0;
    padding: 0;
}
ul, ul li {
    list-style: none outside none;
}
ol, ul {
    margin-left: 18px;
}
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
iframe {
    border: 0 none;
}
ul.tablist {
    border-bottom: 1px solid #CCCCCC;
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
    padding: 0 0 7px 10px;
}
ul.tablist li {
    background: url("/static/img/bg.png") repeat-x scroll 0 -54px #F9F9F9;
    border: 1px solid #CCCCCC;
    bottom: -1px;
    color: #666666;
    cursor: pointer;
    display: inline;
    margin-right: -5px;
    padding: 6px 12px;
    position: relative;
}
ul.tablist li.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font-weight: bold;
}
div.tab {
    clear: both;
    display: none;
    font-size: 14px;
    padding: 0 0 0 10px;
    position: relative;
}
div.tab, div.tab p {
    line-height: 20px;
}
div.tab p {
    margin: 0 0 6px;
}
#head-bar {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 6px;
    white-space: nowrap;
    z-index: 299;
}
#head-bar a {
    font-size: 12px;
}
#head .head-tools {
    margin-left: 25px;
}
#head {
    padding-left: 20px;
}
.nv {
    height: 45px;
    position: relative;
    z-index: 298;
}
.nv a {
    color: #0000CC;
}
.nv .logo {
    float: left;
    margin-right: 20px;
}
.nv .nav {
    float: left;
    line-height: 18px;
    padding: 20px 0 0;
}
.nv .nav {
    line-height: 18px;
}
.nv a, .nv b, .btn, #page, #more {
    font-size: 14px;
}
#u, #head, #tool, #search, #foot {
    font-size: 12px;
}
.fm {
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 297;
}
input {
    -moz-box-sizing: border-box;
    padding-bottom: 0;
    padding-top: 0;
}
.i {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("http://www.baidu.com/img/i2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #7B7B7B #B6B6B6 #B6B6B6 #7B7B7B;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font: 16px arial;
    height: 32px;
    margin-right: 5px;
    outline: medium none;
    padding: 5px 7px;
    vertical-align: top;
    width: 536px;
}
.btn {
    background: url("http://www.baidu.com/img/i-1.0.0.png") repeat scroll 0 0 #DDDDDD;
    border: 0 none;
    cursor: pointer;
    height: 32px;
    padding: 0;
    width: 95px;
}
.btn_h {
    background-position: -100px 0;
}
.btn_wr {
    background: url("http://www.baidu.com/img/i-1.0.0.png") no-repeat scroll -202px 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 34px;
    width: 97px;
}
#example-box ol {
    font-size: 14px;
    list-style: decimal outside none;
}
#example-box ol li {
    margin-bottom: 22px;
    padding-right: 30px;
}
#example-box p {
    margin: 6px 0;
}
#example-box em {
    font-style: normal;
}
#example-box .hi_type_1 {
    color: #CC0000;
}
#example-box .hi_type_2 {
    color: #CC0000;
}
#example-box .dict-source b {
    font-weight: bold;
}
#example-box .dict-target {
    color: #666666;
}
#example-box .dict-resource {
    color: #008000;
    font-size: 12px;
}
#example-box .dict-resource a {
    color: #008000;
    font-size: 12px;
    text-decoration: none;
}
#example-box .dict-hilight {
    background: none repeat scroll 0 0 #DDEDFF;
}
#example-content {
    font-size: 14px;
}
#container {
    margin: 0 auto;
    position: relative;
    text-align: left;
    width: 1000px;
}
#wraper {
    margin-top: 30px;
    padding-left: 20px;
    width: 830px;
}
#fmp_flash_div {
    height: 1px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 1px;
}
#sug {
    display: none;
}
.fanyi-title {
    margin-bottom: 10px;
    padding-left: 10px;
}
#mask-layer {
    background-color: #000000;
    display: none;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    z-index: 10000;
}
#setter-layer {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #E4E4E4;
    display: none;
    height: 160px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 300px;
    z-index: 20000;
}
#setter-layer h3 {
    margin: 20px 10px;
    text-align: left;
}
#setter-layer p {
    margin-bottom: 10px;
}
#setter-layer #sv {
    margin-top: 10px;
}
#setter-layer-close {
    background: url("http://img.baidu.com/img/iknow/popclose.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 2px;
    width: 18px;
}
#setter-layer-close:hover {
    background-position: -16px 0;
}
#collins-tip-box {
    display: none;
    position: absolute;
    text-align: left;
}
#collins-tip-box span {
    background: url("/static/img/bg.png") no-repeat scroll 0 -414px rgba(0, 0, 0, 0);
    height: 4px;
    position: absolute;
    top: 0;
    width: 50px;
}
#collins-tip-box div {
    background: none repeat scroll 0 0 #FEFFE5;
    border: 1px solid #E3DFAF;
    color: #BF901F;
    margin-top: 3px;
    padding: 3px 8px;
    white-space: nowrap;
}
#collins-tip-box i, #collins-tip-box b {
    color: #BF901F;
    font-weight: normal;
}
.arrow {
    background: url("/static/img/bg.png") no-repeat scroll -35px -30px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: 0;
    top: 23px;
    width: 20px;
}
.arrow-close {
    background-position: -17px -30px;
}
div.more-result {
    background: url("/static/img/bg.png") no-repeat scroll 0 -127px rgba(0, 0, 0, 0);
    font-size: 12px;
    line-height: 15px;
    margin-top: 20px;
    width: 95px;
}
.more-result a {
    background: url("/static/img/bg.png") no-repeat scroll -35px -195px rgba(0, 0, 0, 0);
    color: #666666;
    display: block;
    padding: 8px 15px 10px;
    text-decoration: none;
}
.more-result-open {
    background-position: 0 -161px;
}
.more-result-open a {
    background-position: -35px -217px;
    color: #4F8BFF;
}
.source {
    color: #666666;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: -21px;
}
.noresult-tip {
    font-size: 14px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.suggest-list {
    margin-bottom: 20px;
    padding-left: 10px;
}
.suggest-list strong {
    font-size: 14px;
    margin-right: 20px;
}
.suggest-list a {
    font-size: 13px;
    margin: 0 20px 0 8px;
}
.more-result {
    display: none;
}
.tab-content {
    margin-top: 22px;
}
#word-en-section, #word-cn-section, #example-box, #en-query-section, #fanyi-section, #en-query-simple-means, #baike-section {
    padding: 20px 0;
    position: relative;
}
#switch-cn-bar, #switch-en-bar, #switch, #pronounce {
    padding-left: 10px;
}
#switch-cn-bar, #switch-en-bar {
    margin: 20px 0 10px;
}
.switchbar {
    width: 100px;
}
.switchbar h3 {
    background: url("/static/img/bg.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    cursor: pointer;
    font-size: 14px;
    padding-left: 20px;
}
.sectionbar-close h3 {
    background-position: 0 -92px;
}
#pronounce span {
    color: #008000;
    font-family: "lucida sans unicode",arial;
    font-size: 13px;
    font-weight: normal;
    margin-left: 20px;
    position: relative;
    top: -3px;
}
#pronounce span b {
    font-weight: normal;
}
#pronounce h2 strong {
    font-weight: normal;
}
#pronounce h2 strong {
    font-family: "微软雅黑";
    font-size: 25px;
    margin-right: 10px;
}
#pronounce h2 b {
    margin: 0 8px;
}
#pronounce a {
    background: url("/static/img/bg.png") no-repeat scroll -60px -28px rgba(0, 0, 0, 0);
    margin-right: 2px;
    padding: 0 7px;
    text-decoration: none;
}
#pronounce .mp3_play {
    background-position: 0 -27px;
}
#switch {
    margin-bottom: 20px;
    margin-top: 18px;
}
#switch i {
    font-style: normal;
    margin: 0 8px;
}
.en-synthesize-means dd span, .en-phrase dd span {
    background: url("/static/img/bg.png") no-repeat scroll 0 -274px rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    margin-right: 8px;
    padding: 2px 4px 2px 6px;
}
.en-synthesize-means dd span.arrow-open, .en-phrase dd span.arrow-open {
    background-position: 0 -249px;
}
.cn-basicmean p {
    background: none repeat scroll 0 0 #F6F7FC;
    margin: 0 0 20px;
    padding: 8px 10px;
}
.cn-basicmean p strong {
    font-size: 14px;
    margin-right: 30px;
}
.cn-basicmean dl p {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 0 8px;
    padding: 0;
}
.en-simple-means strong {
    margin-right: 10px;
}
.en-synthesize-means dl {
    clear: left;
    margin-bottom: 15px;
}
.en-synthesize-means dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.en-synthesize-means dd {
    clear: left;
}
.en-synthesize-means dd p {
    padding-left: 22px;
}
.en-synthesize-means ul {
    color: #666666;
    display: none;
    margin-bottom: 10px;
}
.dict-en-synthesizemeans-idiom dd span {
    display: none;
}
.cn-detailmean p, .cn-phrase p {
    background: none repeat scroll 0 0 #F6F7FC;
    margin: 0;
    padding: 8px 10px;
}
.cn-detailmean p strong, .cn-phrase p strong {
    font-size: 14px;
    margin-right: 30px;
}
.cn-detailmean dl p, .cn-phrase dl p {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 0 0 8px;
    padding: 0;
}
.cn-detailmean ol li {
    margin-bottom: 20px;
}
.cn-detailmean ul, #cn-syn-ant ul {
    margin-left: 0;
}
.cn-detailmean ul li, #cn-syn-ant ul li {
    margin-bottom: 6px;
}
.cn-detailmean dl dt, .cn-phrase dl dt, .cn-basicmean dl dt {
    margin: 20px 0;
}
.cn-detailmean dl dt a, .cn-phrase dl dt a, .cn-basicmean dl dt a {
    color: #000000;
    font-weight: bold;
}
.dict-cn-detailmean-char dd p {
    margin-bottom: 20px;
}
.dict-cn-detailmean-char ol p {
    margin-bottom: 8px;
}
.cn-baike-mean .baike-link, .en-baike-mean .baike-link {
    margin-top: 20px;
}
.cn-baike-mean a, .en-baike-mean a {
    font-size: 13px;
}
.dict-en-simplemeans-english {
    padding-left: 10px;
}
.dict-en-simplemeans-english p {
    color: #666666;
    font-size: 12px;
    margin: 0 0 6px;
}
.dict-en-simplemeans-english p strong {
    margin-right: 4px;
}
.dict-en-simplemeans-english p a {
    margin-right: 10px;
}
.dict-en-simplemeans-english div {
    margin-bottom: 15px;
}
.dict-en-simplemeans-english div p {
    color: #000000;
    font-size: 14px;
    margin-top: 0;
}
.en-net-means ol {
    list-style: none outside none;
    margin-left: 0;
}
.en-net-means dt {
    margin-bottom: 10px;
}
.en-net-means .site a {
    color: #008000;
    font-size: 12px;
}
.en-net-means p span {
    color: #999999;
    font-size: 12px;
    margin-left: 15px;
}
.en-net-means li {
    margin-bottom: 10px;
}
.en-simple-means .multitone-bar, .en-synthesize-means .multitone-bar {
    background: none repeat scroll 0 0 #F6F7FC;
    padding: 8px 10px;
}
.en-simple-means .multitone-bar strong, .en-synthesize-means .multitone-bar strong {
    font-size: 14px;
    margin-right: 30px;
}
.en-simple-means .multitone, .en-synthesize-means .multitone {
    font-weight: bold;
    margin: 20px 0;
}
.en-syn-ant dt {
    clear: left;
}
.en-syn-ant dt {
    font-weight: bold;
    margin-bottom: 15px;
}
.en-syn-ant dd {
    clear: left;
    margin-bottom: 25px;
}
.en-syn-ant dd a {
    display: inline-block;
    margin-right: 6px;
}
.en-syn-ant dd p {
    clear: left;
}
.en-syn-ant .syn-ant-cixing strong {
    float: left;
    width: 50px;
}
.en-syn-ant .syn-ant-list {
    overflow: hidden;
    width: 750px;
}
.en-syn-ant .syn-ant-list ul {
    margin-left: 0;
}
.en-syn-ant .syn-ant-list li {
    margin-bottom: 15px;
}
.en-syn-ant .syn-ant-other {
    margin-left: 50px;
}
#en-collins {
    padding-left: 0;
}
.en-collins ul {
    margin-left: 0;
}
.en-collins ul ul {
    color: #666666;
    margin-bottom: 5px;
    margin-left: 20px;
}
.en-collins ul ul li {
    background: url("/static/img/bg.png") no-repeat scroll -104px -120px rgba(0, 0, 0, 0);
    margin-bottom: 15px;
    padding-left: 15px;
}
.en-collins h3 {
    background: none repeat scroll 0 0 #F5F7FC;
    color: #333333;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 9px 9px 9px 27px;
    position: relative;
    text-indent: -17px;
}
.en-collins h3 span {
    margin-right: 6px;
}
.en-collins h3 a {
    color: #236FD4;
    font-weight: bold;
}
.en-collins h3 a:hover {
    color: #0093FF;
}
.en-collins b {
    color: #236FD4;
}
.en-collins ul ul li a, .en-collins .collins-related a {
    color: #236FD4;
    font-weight: bold;
}
.en-collins ul ul li a:hover, .en-collins .collins-related a:hover {
    color: #0093FF;
}
.en-collins ul ul li p span {
    margin-left: 20px;
}
.en-collins .collins-nav {
    background: none repeat scroll 0 0 #F1F4FC;
    color: #4372B6;
    font-weight: bold;
    padding: 7px 12px;
}
.en-collins .collins-nav a {
    color: #236FD4;
    margin-left: 4px;
    text-decoration: none;
}
.en-collins .collins-item {
    font-weight: bold;
    padding-top: 15px;
}
.en-collins .collins-item a {
    background: url("/static/img/bg.png") no-repeat scroll -102px -310px rgba(0, 0, 0, 0);
    color: #236FD4;
    padding-left: 16px;
    text-decoration: none;
}
.en-collins .collins-nav a:hover, .en-collins .collins-item a:hover {
    color: #0093FF;
}
.en-collins .collins-item .collins-item-open {
    background-position: -102px -360px;
}
.en-collins .collins-note {
    background: none repeat scroll 0 0 #F9F9DC;
    border: 1px solid #CBD7E0;
    color: #333333;
    line-height: 24px;
    margin: 10px 0;
    padding: 5px 9px 6px 15px;
}
.en-collins .collins-note strong {
    color: #666666;
}
.en-collins .collins-related {
    background: none repeat scroll 0 0 #F5F7FC;
    color: #666666;
    padding: 9px 9px 9px 10px;
}
.en-collins .collins-related a {
    margin-left: 8px;
}
.en-collins .info_type_xrse, .en-collins .info_type_xrsa {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    padding: 0;
}
.en-collins .info_type_xrse ul, .en-collins .info_type_xrsa ul {
    margin: 0;
    padding: 0;
}
.en-collins .info_type_xrse ul li, .en-collins .info_type_xrsa ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 0;
}
.en-collins .collins-cnmeans {
    color: #236FD4;
}
.en-collins .info_type_xrse a, .en-collins .info_type_xrsa a {
    margin-left: 6px;
}
.en-collins .entry_type_boxr {
    background: url("/static/img/bg_ok.gif") no-repeat scroll 8px 11px #F9F9DC;
    padding-left: 25px;
}
.en-collins .entry_type_boxr p {
    margin: 0;
}
.en-collins .info_type_posc, .en-collins .entry_type_rnon, .en-collins .info_type_rnon {
    background: url("/static/img/vdoc.gif") no-repeat scroll 8px 0 #F9F9DC;
    padding-left: 25px;
}
.en-collins .info_type_defx {
    background: url("/static/img/doc.gif") no-repeat scroll 8px -71px #F9F9DC;
    padding-left: 25px;
}
.en-collins .en-yf-tip {
    background: url("/static/img/bg.png") no-repeat scroll 0 -374px rgba(0, 0, 0, 0);
    padding: 0 28px;
    text-decoration: none;
}
.en-collins .en-yf-tip:hover {
    background-position: 0 -390px;
}
.en-collins .collins-more-example {
    background: url("/static/img/bg.png") no-repeat scroll 0 -308px rgba(0, 0, 0, 0);
    padding: 0 32px;
    text-decoration: none;
}
.en-collins .collins-more-example:hover {
    background-position: 0 -340px;
}
.en-collins .example-open {
    background-position: 0 -324px;
}
.en-collins .example-open:hover {
    background-position: 0 -356px;
}
.en-phrase dl {
    clear: left;
}
.en-phrase dt {
    display: none;
}
.en-phrase dd {
    clear: left;
    margin-bottom: 15px;
}
.en-phrase ul {
    color: #666666;
    display: none;
    margin-bottom: 10px;
}
.dict-en-phrase-english dl dd p {
    padding-left: 21px;
}
#foot {
    color: #7777CC;
    margin: 50px 0 15px;
    text-align: center;
}
#foot a {
    color: #7777CC;
}
#scroll-top {
    background: url("http://opendata.baidu.com/static/zh/shopping/shopping-sprites.png") no-repeat scroll right -42px rgba(0, 0, 0, 0);
    cursor: pointer;
    display: none;
    height: 63px;
    position: fixed;
    top: 500px;
    width: 24px;
}
.dictedit-layer .mp3_play {
    background: url("/static/img/bg.png") no-repeat scroll 0 -27px rgba(0, 0, 0, 0);
    text-decoration: none;
}
.title a, .title a:hover {
    text-decoration: none;
}
.title {
    margin-bottom: 18px;
    overflow: hidden;
}
.title #pronounce {
    float: left;
}
.wordbook-icon {
    float: left;
    padding: 12px 0 0 10px;
}
.wordbook-icon span {
    margin-left: 20px;
}
.wordbook-icon .icon-add {
    background: url("/static/img/icon-add.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    padding-left: 20px;
}
.wordbook-icon .icon-edit {
    background: url("/static/img/icon-edit.png") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    padding-left: 20px;
}
.tran-download-tdc {
    display: none;
    left: 50%;
    margin-left: 400px;
    position: fixed;
    width: 110px;
    z-index: 100;
}
.tran-download-tdc a:link, .tran-download-tdc a:visited {
    background: none repeat scroll 0 0 #F9F9F9;
    color: #333333;
    display: block;
    font-size: 12px;
    line-height: 18px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
.tran-download-tdc a:hover {
    background: none repeat scroll 0 0 #CCD8DB;
    color: #000000;
}
.tran-download-tdc img {
    border: medium none;
    display: block;
    margin: 5px auto;
}
